body {
    height: 800px;
    font: normal;
}

h1 {
    font-weight: normal;
   
}

#title {
    text-align: center;
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.nav li {
   display: inline-block;
   font-size: 20px;
   padding: 20px;  
   } 

.radio-inline {
    display:inline-block;
}

.checkbox-inline {
    display:inline-block;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }
 
li {
    display: inline;
  }

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: left;
  }